---
import ConfigWizard from "../components/ConfigWizard.svelte";
import Layout from "../layouts/layout.astro";
---

<Layout title="Config Creator">
  <div class="max-w-[70rem] mx-auto">
    <ConfigWizard client:only />
  </div>
</Layout>
