---
import ConfigWizard from "../components/ConfigWizard.svelte";
import Layout from "../layouts/layout.astro";

export const prerender = true;
---

<Layout>
  <div class="max-w-[70rem] mx-auto">
    <ConfigWizard client:only />
    <a href="/" class="link link-hover link-primary mt-4">Go back</a>
  </div>
</Layout>
