<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ascella.host</title>
  </head>
  <body>
    <head>
      <div>
        <p class="text-3xl font-bold text-center">
          <a href="/">Ascella.host</a>
        </p>
      </div>
    </head>
    <slot />
    <footer class="mt-2 max-w-[70rem] mx-auto">
      <ul>
        <li>
          <a class="link link-hover link-primary" href="hattps://discord.gg/BDxd9AuHpr">Discord</a>
        </li>
        <li>
          <a class="link link-hover link-primary" href="https://github.com/ascellahost/ascellav3">Github</a>
        </li>
        <li>
          <a class="link link-hover link-primary" href="/privacy">Privacy</a>
        </li>
        <li>
          <a class="link link-hover link-primary" href="/rules">Rules</a>
        </li>
        <li>
          <a class="link link-hover link-primary" href="/dmca">DMCA</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
