---
import Layout from "./layout.astro";

const { title, description } = Astro.props.frontmatter;
---

<Layout {title} {description}>
  <div class="prose w-full mx-auto min-h-[40rem]">
    <slot />
  </div>
</Layout>
